/Ejercicio02/build/
/ejercicio04/nbproject/private/
/ejercicio04/build/
/ejercico5/nbproject/private/
/ejercico5/build/
/ejercicio6/target/
/ejercicio06/target/
/ejercicio06/ejercicio07/target/
/ejercicio07/target/
/ejercicio08/target/
/ejercicio09/target/
/ejercico10/target/
